<!-- <div id="top">
  <div>
    <h2>Viajar con responsabilidad y de forma consciente</h2>
    <p>
      Viajar con responsabilidad implica tomar decisiones conscientes para minimizar nuestro impacto negativo y maximizar
      los beneficios para el medio ambiente, las comunidades locales y la preservación cultural. Desde investigar
      previamente sobre el destino hasta optar por medios de transporte sostenibles y apoyar la economía local, cada
      acción cuenta.
    </p>
  </div>
  <div>
    <img>
  </div>
</div>

<div id="mid">
  <div>
    <div>
      <img>
    </div>
    <div>
      <h3>5 pueblos que visitar en Cádiz</h3>
      <p>
        Descubre la esencia costera de Cádiz a través de sus encantadores destinos. Sumérgete en playas de arena dorada,
        explora calles pintorescas y admira vistas panorámicas.
      </p>
    </div>
  </div>


  <div>
    <div>
      <img>
    </div>
    <div>
      <h3>Qué visitar en París en 4 días</h3>
      <p>
        Explora la icónica ciudad de París durante cuatro días inolvidables. Admira la Torre Eiffel y pasea por los Campos
        Elíseos hasta llegar al Arco de Triunfo. Sumérgete en la historia en el Louvre.
      </p>
    </div>
  </div>
</div>

<div id="botton">
  <div>
    <div>
      <img>
    </div>
    <div>
      <h4>Senderismo en Navarra</h4>
      <p>Descubre la belleza natural de Navarra a través del senderismo. Desde las impresionantes montañas de los Pirineos
        hasta los paisajes verdes de la Selva de Irati.</p>
    </div>
  </div>

  <div>
    <div>
      <img>
    </div>
    <div>
      <h4>¿Qué es el esmorzaret?</h4>
      <p>Te contamos esta tradición culinaria típica de la Comunidad Valenciana tan contundente que se suele disfrutar en la
        mañana, generalmente los fines de semana.</p>
    </div>
  </div>

  <div>
    <div>
      <img>
    </div>
    <div>
      <h4>Visita Praga en 3 días</h4>
      <p>Explora la encantadora ciudad de Praga en tres días intensos. Explora el impresionante Castillo de Praga y el
        Puente de Carlos. Disfruta de esta joya europea en 3 días.</p>
    </div>
  </div>

  <div>
    <div>
      <img>
    </div>
    <div>
      <h4>5 rutas en coche por Euskadi</h4>
      <p>Descubre Euskadi en coche, en este artículo te contamos cómo sacarle el máximo partido a tu experiencia sobre
        ruedas a este paraíso de la naturaleza con cinco impresionantes rutas.</p>
    </div>
  </div>
</div> -->

<div class="container mt-5">

  <div id="top" class="row mb-3 blog-article">

    <div class="col top-text">
      <h2>Viajar con responsabilidad y de forma consciente</h2>
      <p>Viajar con responsabilidad implica tomar decisiones conscientes para minimizar nuestro impacto negativo y maximizar
        los beneficios para el medio ambiente, las comunidades locales y la preservación cultural. Desde investigar
        previamente sobre el destino hasta optar por medios de transporte sostenibles y apoyar la economía local, cada
        acción cuenta.</p>
    </div>
    <div class="col">
      <img src=".\assets\img\blog\blog-article-1.svg" class="img-fluid">
    </div>

  </div>

  <div id="mid" class="row mb-3">

    <div class="col custom-gap d-flex blog-article">
      <div id="mid-img-1">
        <img src=".\assets\img\blog\blog-article-2.svg"  class="img-fluid">
      </div>
      <div class="mid-text">
        <h3>5 pueblos que visitar en Cádiz</h3>
        <p>Descubre la esencia costera de Cádiz a través de sus encantadores destinos. Sumérgete en playas de arena dorada,
          explora calles pintorescas y admira vistas panorámicas.</p>
      </div>
    </div>

    <div class="col custom-gap d-flex blog-article">
      <div id="mid-img-2">
        <img src=".\assets\img\blog\blog-article-3.svg" class="img-fluid">
      </div>
      <div class="mid-text">
        <h3>Qué visitar en París en 4 días</h3>
        <p>Explora la icónica ciudad de París durante cuatro días inolvidables. Admira la Torre Eiffel y pasea por los Campos
          Elíseos hasta llegar al Arco de Triunfo. Sumérgete en la historia en el Louvre.</p>
      </div>
    </div>

  </div>

  <div id="botton" class="row">

    <div class="col-3 mb-3 blog-article">
      <div id="bottom-img-1">
        <img src=".\assets\img\blog\blog-article-4.svg"  class="img-fluid">
      </div>
      <div class="bottom-text">
        <h4>Senderismo en Navarra</h4>
        <p>Descubre la belleza natural de Navarra a través del senderismo. Desde las impresionantes montañas de los Pirineos
          hasta los paisajes verdes de la Selva de Irati.</p>
      </div>
    </div>

    <div class="col-3 mb-3 blog-article">
      <div  id="bottom-img-2">
        <img src=".\assets\img\blog\blog-article-5.svg" class="img-fluid">
      </div>
      <div class="bottom-text">
        <h4>¿Qué es el esmorzaret?</h4>
        <p>Te contamos esta tradición culinaria típica de la Comunidad Valenciana tan contundente que se suele disfrutar en la
          mañana, generalmente los fines de semana.</p>
      </div>
    </div>

    <div class="col-3 mb-3 blog-article">
      <div id="bottom-img-3">
        <img src=".\assets\img\blog\blog-article-6.svg" class="img-fluid">
      </div>
      <div class="bottom-text">
        <h4>Visita Praga en 3 días</h4>
        <p>Explora la encantadora ciudad de Praga en tres días intensos. Explora el impresionante Castillo de Praga y el
          Puente de Carlos. Disfruta de esta joya europea en 3 días.</p>
      </div>
    </div>

    <div class="col-3 mb-3 blog-article">
      <div id="bottom-img-4">
        <img src=".\assets\img\blog\blog-article-7.svg" class="img-fluid">
      </div>
      <div class="bottom-text">
        <h4>5 rutas en coche por Euskadi</h4>
        <p>Descubre Euskadi en coche, en este artículo te contamos cómo sacarle el máximo partido a tu experiencia sobre
          ruedas a este paraíso de la naturaleza con cinco impresionantes rutas.</p>
      </div>
    </div>

  </div>

</div>
