
<div class="container mt-3">

  <div *ngIf="firstContainer" id="top" class="row blog-article">
    <div class="col top-text">
      <h2>{{ firstContainer.titulo }}</h2>
      <p>{{ firstContainer.contenido }}</p>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <img src=".\assets\img\blog\blog-article-1.svg" class="img-fluid mt-3 mb-3">
    </div>
  </div>

  <div id="mid" class="row">
    <div *ngFor="let entry of secondContainer" id="mid-article-1" class="col custom-mid blog-article">
      <div id="mid-img-1" class="d-flex justify-content-center align-items-center">
        <img src=".\assets\img\blog\blog-article-2.svg"  class="img-fluid mt-1">
      </div>
      <div class="mid-text">
        <h3>{{ entry.titulo }}</h3>
        <p>{{ entry.contenido }}</p>
      </div>
    </div>
  </div>

  <div id="bottom" class="row">
    <div *ngFor="let entry of thirdContainer" id="bottom-article-1" class="col custom-bottom blog-article">
      <div id="bottom-img-1" class="d-flex justify-content-center align-items-center">
        <img src=".\assets\img\blog\blog-article-4.svg"  class="img-fluid mt-3">
      </div>
      <div class="bottom-text">
        <h4>{{ entry.titulo }}</h4>
        <p>{{ entry.contenido }}</p>
      </div>
    </div>
  </div>

</div>

<nav id="pagination-container">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 0">
      <a class="page-link arrow" (click)="prevPage()">
        <img src="./assets/img/pagination/left-arrow.svg" class="arrow-img">
      </a>
    </li>
    <li *ngFor="let page of getPagesArray()" class="page-item page-number" [class.active]="page === currentPage">
      <a class="page-link" (click)="setPage(page)">{{ page + 1 }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
      <a class="page-link arrow" (click)="nextPage()">
        <img src="./assets/img/pagination/right-arrow.svg" class="arrow-img">
      </a>
    </li>
  </ul>
</nav>
