.link {
  text-decoration: none;
  display: contents;
}

#top {
  background: #FFB39C;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

#mid {
  display: flex;
  justify-content: space-between;
  gap: 3rem !important;
  margin-bottom: 3rem;
}

#bottom {
  display: flex;
  justify-content: space-between;
  gap: 3rem !important;
  margin-bottom: 3rem;
}

.top-text, .mid-text, .bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-article {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.custom-mid {
  padding-left: 0;
  padding-right: 0;
}

.custom-bottom {
  padding-left: 0;
  padding-right: 0;
}

.top-text > p {
  padding-top: 0;
  font-size: 18px;
}

.top-text > h1 {
  padding: 1rem;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
}

 .mid-text > h3 {
  padding: 1rem;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.mid-text > p {
  font-size: 18px;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bottom-text > h4 {
  padding: 1rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.bottom-text > p {
  font-size: 14px;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#mid-img-1 {
  border-radius: 8px 8px 0px 0px;
  background: #FFCEA1;
}

#mid-img-2 {
  border-radius: 8px 8px 0px 0px;
  background: rgba(242, 78, 30, 0.11);
}

#bottom-img-1 {
  border-radius: 8px 8px 0px 0px;
  background: #FFB099;
}

#bottom-img-2 {
  border-radius: 8px 8px 0px 0px;
  background: #FFD978;
}

#bottom-img-3 {
  border-radius: 8px 8px 0px 0px;
  background: #C3E4F6;
}


#bottom-img-4 {
  border-radius: 8px 8px 0px 0px;
  background: #FFD9C3;
}

#pagination-container {
  margin-bottom: 3rem;
}

.pagination .page-item .arrow {
  border: none;
  padding-right: 0rem;
  padding-left: 0rem;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.page-item {
  margin: 4px;
}

.page-link {
  border: 1px solid #3f3d56;
  color: #3f3d56;
}

.arrow-img {
  width: 24px;
  height: 24px;
  margin: 0;
  border: none;
}

.page-number {
  --bs-pagination-hover-bg: rgba(242, 78, 30, 0.11);
}

.page-number.active .page-link {
  background-color: #f24e1e !important;
  color: #fff !important;
}

/* TODO: Falta ajustar correctamente los elementos del contenedor #top */

#top-footer {
  width: 100%;
}

#mid-footer, #bottom-footer {
  padding-left: 1rem;
}

#top-footer p, #mid-footer p, #bottom-footer p {
  padding-right: 1rem;
  color: #3F3D56;
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
}

/* TODO: Falta el resposive del contenedor #top */

@media (max-width: 768px) {
  #top {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
  }

  .col {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #mid, #bottom {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 576px) {
  .col {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  #mid, #bottom {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}












