<div class="container d-flex justify-content-center align-item-center">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm"
    class="container-login my-5 bg-white w-custom rounded d-flex position-relative">
    <div class="imagen position-relative custom-width">
      <img src="assets/img/signup.svg" alt="login" class="hero-banner">
    </div>
    <div class="formulario my-4 d-flex flex-column align-items-center position-relative">
      <h1 class="fw-bold fs-2">Aquí empieza tu viaje</h1>

      <div class="inputs d-grid gap-3">
        <div>
          <input type="text" name="nombre" [(ngModel)]="user.nombre" placeholder="Nombre"
            class="bg-color border rounded form-control input-large border-1" required>
          <div *ngIf="errorMessages['nombre']"
            class="alert alert-danger d-flex justify-content-center align-items-center">
            {{ errorMessages['nombre'] }}
          </div>
        </div>

        <div>
          <input type="text" name="apellidos" [(ngModel)]="user.apellidos" placeholder="Apellidos"
            class="bg-color border rounded form-control input-large border-1" required>
          <div *ngIf="errorMessages['apellidos']"
            class="alert alert-danger d-flex justify-content-center align-items-center">
            {{ errorMessages['apellidos'] }}
          </div>
        </div>

        <div>
          <input type="text" name="dni" [(ngModel)]="user.dni" placeholder="DNI"
            class="bg-color border rounded form-control input-large border-1" required>
          <div *ngIf="errorMessages['dni']" class="alert alert-danger d-flex justify-content-center align-items-center">
            {{ errorMessages['dni'] }}
          </div>
        </div>

        <div>
          <input type="email" name="email" [(ngModel)]="user.email" placeholder="E-mail"
            class="bg-color border rounded form-control input-large border-1" required>
          <div *ngIf="errorMessages['email']"
            class="alert alert-danger d-flex justify-content-center align-items-center">
            {{ errorMessages['email'] }}
          </div>
        </div>

        <div>
          <input type="tel" name="telefono" [(ngModel)]="user.telefono" placeholder="Teléfono"
            class="bg-color border rounded form-control input-large border-1" required>
          <div *ngIf="errorMessages['telefono']"
            class="alert alert-danger d-flex justify-content-center align-items-center">
            {{ errorMessages['telefono'] }}
          </div>
        </div>

        <div>
          <input type="text" name="username" [(ngModel)]="user.username" placeholder="Nombre de usuario"
            class="bg-color border rounded form-control input-large border-1" required>
          <div *ngIf="errorMessages['username']"
            class="alert alert-danger d-flex justify-content-center align-items-center">
            {{ errorMessages['username'] }}
          </div>
        </div>

        <div>
          <input type="password" name="contrasena" [(ngModel)]="user.contrasena" placeholder="Contraseña"
            class="bg-color border rounded form-control input-large border-1" required>
          <div *ngIf="errorMessages['contrasena']"
            class="alert alert-danger d-flex justify-content-center align-items-center">
            {{ errorMessages['contrasena'] }}
          </div>
        </div>

        <div>
          <input type="text" name="sobremi" [(ngModel)]="user.sobreMi" placeholder="Cuéntanos algo sobre ti"
            class="bg-color border rounded form-control input-large border-1">
        </div>

        <label class="label-terminos align-items-center text-center w-100">
          <input type="checkbox" name="terminos" class="border rounded" required>
          Acepto los <a class="terminos" href="">términos y condiciones</a>
        </label>

        <button type="submit" class="btn-medium mt-2 w-100">¡UNIRME!</button>

        <p class="label-terminos align-items-center text-center w-100">¿Ya tienes una cuenta? <a class="terminos"
            routerLink="/login">Inicia sesión</a></p>
      </div>
    </div>
  </form>
</div>
