<div class="container my-5-custom ">
  <div class="informacion-foto d-flex">
    <div class="informacion w-100 ">
      <p class="fw-bold fs-1">Información personal</p>
      <div class="form-foto d-flex">
        <div class="foto text-center order-2">
          <img class="imagen" src="assets/img/perfil.svg" alt="">
          <div class="boton">
            <button class="btn-small mt-0-custom col-3 ">Editar</button>
          </div>
        </div>
        <form action="" class=" formulario order-1">
          <div class="name row">
            <div class="d-flex">
              <p class="fw-bold mt-5 col-3 mt-0-custom">Nombre</p>
              <div class="boton mt-5" style="margin-left: auto;">
                <button class="btn-small mt-0-custom col-3 ">Editar</button>
              </div>
            </div>
            <label for=""></label>
            <input type="text" placeholder="{{loggedInUser?.nombre}}" class="custom-border-bottom w-100">
          </div>

          <div class="last-name row">
            <div class="last-name d-flex">
              <p class="fw-bold mt-5 col-3 mt-0-custom">Apellido</p>
              <div class="boton mt-5" style="margin-left: auto;">
                <button class="btn-small mt-0-custom col-3 ">Editar</button>
              </div>
            </div>
            <label for=""></label>
            <input type="text" placeholder="{{loggedInUser?.apellidos}}" class="custom-border-bottom w-100">
          </div>

          <div class="email row">
            <div class="d-flex">
              <p class="fw-bold mt-5 col-3 mt-0-custom">Email</p>
              <div class="boton mt-5" style="margin-left: auto;">
                <button class="btn-small mt-0-custom col-3 ">Editar</button>
              </div>
            </div>
            <label for=""></label>
            <input type="text" placeholder="{{loggedInUser?.email}}" class="custom-border-bottom w-100">
          </div>

          <div class="dni row">
            <div class="d-flex">
              <p class="fw-bold mt-5 col-3 mt-0-custom">DNI</p>
              <div class="boton mt-5" style="margin-left: auto;">
                <button class="btn-small mt-0-custom col-3 ">Editar</button>
              </div>
            </div>
            <label for=""></label>
            <input type="text" placeholder="{{loggedInUser?.dni}}" class="custom-border-bottom w-100">
          </div>

          <div class="dni row">
            <div class="d-flex">
              <p class="fw-bold mt-5 col-3 mt-0-custom">Teléfono</p>
              <div class="boton mt-5" style="margin-left: auto;">
                <button class="btn-small mt-0-custom col-3 ">Editar</button>
              </div>
            </div>
            <label for=""></label>
            <input type="text" placeholder="{{loggedInUser?.telefono}}" class="custom-border-bottom w-100">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="boton mt-5" style="margin-left: auto;">
    <button class="btn-medium mt-0-custom col-3 ">Editar</button>
  </div>
</div>
