<div class="card mb-3 custom-shadow custom-width-50 ">

    <div class=" d-flex flex-column align-items-center">
      <div class="mt-4 mb-3 rounded-box">
        <img src="assets/img/perfil.jpg" class="rounded-image border border-custom" alt="">
        <div class="round-mask"></div>
      </div>
      <div class=" ms-4">
        <p class="mt-3 mr-4 fw-bold fs-5">2,7 (8 opiniones)</p>
        <p> PAIS,9</p>
        <p class="mt-3">IDIOMAS</p>
        <p class="mt-3">PRECIO:</p>
      </div>
      <button class="btn-medium mb-4">Reservar</button>
    </div>

</div>
