<div class="hero-banner-container">
    <img src="assets/img/hero-home.svg" alt="People travelling" class="hero-banner">
    <h1 class="hero-text">Viaja como lo haría un local</h1>
</div>
<shared-search-box></shared-search-box>
<main class="container">
    <div class="row info-block">
        <section class="col-md-4">
            <img src="assets/img/destino.svg">
            <h2>Elige tu destino</h2>
            <p>Descubre los destinos más fascinantes y auténticos de la mano de nuestros guías locales. Desde
                encantadores
                pueblos hasta bulliciosas ciudades, tenemos el lugar perfecto para satisfacer tu espíritu viajero.</p>
        </section>
        <section class="col-md-4"> <img src="assets/img/plane.svg">
            <h2>Contacta con un local</h2>
            <p>Conéctate con personas apasionadas por su tierra y cultura. Nuestros guías locales están listos para
                compartir contigo los secretos mejor guardados y los rincones más pintorescos de cada destino. ¡Contacta
                y comienza tu aventura!</p>
        </section>
        <section class="col-md-4"> <img src="assets/img/hands.svg">
            <h2>Disfruta de la experiencia</h2>
            <p>Sumérgete en una experiencia única y memorable. Deja que nuestros guías locales te lleven a lugares que
                solo los lugareños conocen, donde podrás vivir la auténtica esencia de cada destino. ¡Prepárate para
                vivir momentos inolvidables!</p>
        </section>
    </div>
</main>