.hero-banner {
  width: 100%;
}

.hero-text {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3f3d56;
  text-align: center;
}

.hero-banner-container {
  position: relative;

}

.info-block > section {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.info-block > section > img {
  width: 40px;
  margin-bottom: 16px;
  align-self: center;
}

.be-guide-block > div > button {
  align-self: center;
  margin-top: 16px;
}

.chevron-down {
  width: 16px;
  height: 16px;
  translate: 16px;
  rotate: 90deg;
}

.chevron-up {
  rotate: -90deg;
  transition: transform 0.3 ease;
}

@media (min-width: 575px) {
  .info-block,
  .be-guide-block {
    margin-top: 48px;
  }
}

@media (max-width: 967px) {
  .image-container img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .be-guide-block {
    padding: 32px;
  }
}
