<div class="hero-banner-container">
    <img src="assets/img/hero-home.svg" alt="People travelling" class="hero-banner">
    <h1 class="hero-text">Viaja como lo haría un local</h1>
</div>
<shared-search-box></shared-search-box>
<main class="container">
    <div *ngIf="loggedInUser">
        <p>Bienvenido, {{ loggedInUser }}</p>
    </div>
    <div class="row info-block">
        <section class="col-md-4">
            <img src="assets/img/destino.svg">
            <h3>Elige tu destino</h3>
            <p>Descubre los destinos más fascinantes y auténticos de la mano de nuestros guías locales. Desde
                encantadores
                pueblos hasta bulliciosas ciudades, tenemos el lugar perfecto para satisfacer tu espíritu viajero.</p>
        </section>
        <section class="col-md-4"> <img src="assets/img/plane.svg">
            <h3>Contacta con un local</h3>
            <p>Conéctate con personas apasionadas por su tierra y cultura. Nuestros guías locales están listos para
                compartir contigo los secretos mejor guardados y los rincones más pintorescos de cada destino. ¡Contacta
                y comienza tu aventura!</p>
        </section>
        <section class="col-md-4"> <img src="assets/img/hands.svg">
            <h3>Disfruta de la experiencia</h3>
            <p>Sumérgete en una experiencia única y memorable. Deja que nuestros guías locales te lleven a lugares que
                solo los lugareños conocen, donde podrás vivir la auténtica esencia de cada destino. ¡Prepárate para
                vivir momentos inolvidables!</p>
        </section>
    </div>

    <section class="be-guide-block d-flex flex-lg-row flex-md-column flex-column">
        <div class="image-container" alt="Persona mirando un cartel de direcciones">
            <img src="assets/img/right-dir-home.png">
        </div>
        <div class="d-md-flex flex-md-column">
            <h2>Hazte guía local</h2>
            <p>¿Eres un amante de tu ciudad o región? ¿Conoces cada callejón oculto, cada historia interesante y cada
                rincón auténtico? ¡Entonces únete a nuestra comunidad como guía local y comparte tu pasión por tu
                entorno con viajeros de todo el mundo! </p>
            <a class="link-secondary d-md-none d-flex" (click)="rotateChevron()" data-bs-toggle="collapse"
                href="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
                Leer más
                <img class="chevron-down" [ngClass]="{'chevron-up': isRotated}" src="assets/img/chevron.svg">
            </a>

            <div class="collapse d-md-block" id="collapseInfo" [ngClass]="{'show': !isCollapsed}">
                <p>Convertirse en guía local es una oportunidad única para compartir
                    tus conocimientos y experiencias mientras muestras lo mejor de tu destino a aquellos que lo visitan.
                    Desde la joya escondida que solo los lugareños conocen hasta los monumentos emblemáticos, cada
                    recorrido
                    que ofreces es una oportunidad para mostrar la verdadera esencia de tu hogar. </p>

                <p>Enseña la historia, la
                    gastronomía, la arquitectura o la naturaleza ¡Crea tus propias experiencias y deja una impresión
                    duradera en cada viajero que tenga la fortuna de explorar contigo! Únete a nosotros y convierte tu
                    amor
                    por tu ciudad en una emocionante aventura como guía local.</p>
            </div>
            <button class="btn-medium" routerLink="/signup">Unirme</button>
        </div>
    </section>

    <section class="mt-4 mb-4">
        <h2>Nuestro guías más populares</h2>
        <p>Sumérgete en la experiencia de viaje definitiva con nuestros guías más populares, quienes han ganado el
            corazón de viajeros de todo el mundo con su pasión, conocimiento y carisma. Con un profundo amor por su
            ciudad o región, estos guías excepcionales son expertos en revelar los tesoros ocultos y los secretos mejor
            guardados de cada destino.</p>
        <gl-card-guides></gl-card-guides>
    </section>

    <section class="mt-4 mb-4">
        <h2>Descubre más en el blog de Go local</h2>
        <gl-card-post></gl-card-post>
    </section>
</main>
