<div class="container my-0 ">
  <div class="row">

    <p class="fw-bold fs-1">{{guia.usuario.nombre}}</p>
    <div class=" orden d-flex">
      <div class=" sobreMi">
        <shared-sobre-mi [sobreMi]="guia.usuario.sobreMi"></shared-sobre-mi>
      </div>
      <div class="col-md-6">
        <div class="ficha-guia">
          <shared-tarjeta-guia></shared-tarjeta-guia>
        </div>
      </div>
    </div>

  </div>

  <div class="opinion">
    <h2 class="fw-bold fs-1">Lo que nuestros viajeros opinan de Andrea</h2>
  </div>
  <div class="opinion-container">
    <shared-opinion *ngFor="let rev of reviews" [reviews]="rev" class="opinion-cards"></shared-opinion>
  </div>

</div>