.my-0{
  margin-top: 64px !important;
}

.mb-5{
  margin-bottom: 56px !important;
}

.sobreMi-text{
  width: 100%;
}

.incluye{
  width: 50%;
}

.posibilidades, .caracteristicas{
  margin-left: 10%;
}

hr{
  width: 100%;
}





