<div class="container my-0 ">
  <div class="row">
    <p class="fw-bold fs-1"></p>
    <div class=" orden d-flex">
      <div class=" sobreMi">
        <shared-sobre-mi></shared-sobre-mi>
      </div>
      <div class="col-md-6">
        <div class="ficha-guia">
          <shared-tarjeta-guia></shared-tarjeta-guia>
        </div>
      </div>
    </div>

  </div>

  <div class="opinion">
    <p class="fw-bold fs-1">Lo que nuestros viajeros opinan de Andrea</p>
  </div>
  <div style="margin-bottom: 8em;">
    <shared-opinion></shared-opinion>
  </div>

</div>
