<div class="container my-0 ">
  <div class="row">
    <p class="fw-bold fs-1">Andrea García Rodríguez</p>
    <div class="col-md-6">
      <div class="sobreMi my-5">
        <p class="sobreMi-title fw-bold">SOBRE MI</p>
        <p class="sobreMi-text">
          ¡Hola! Soy tu guía turística, ¡y estoy aquí para llevarte en una aventura emocionante por la hermosa comunidad
          valenciana! Con mi energía positiva y mi amor por esta tierra, te aseguro que vivirás momentos inolvidables.
          Desde
          los
          vibrantes festivales hasta los sabores irresistibles de la gastronomía local ¡Prepárate para descubrir y
          disfrutar
          al
          máximo junto a mí!
        </p>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="ficha-guia ">
        <shared-tarjeta-guia></shared-tarjeta-guia>
      </div>
    </div>
  </div>



  <div class="incluye">
    <p class="fw-bold fs-4">¿QUE INCLUYE ESTA RESERVA CON TU GUÍA?</p>
    <div class="posibilidades my-5 row row-cols-2">
      <div class="col-6 ml-5 mb-4"> Rutas y naturaleza</div>
      <div class="col-6"> Bares y restaurantes</div>
      <div class="col-6 mb-4"> Visitar pueblos</div>
      <div class="col-6"> Guía por la ciudad</div>
      <div class="col-6"> Roadtrips</div>
      <div class="col-6 mb-4"> Actividades culturales</div>
    </div>
    <hr>
    <div class="caracteristicas">
      <p class="mt-5">Cancelación gratuita durante 48h</p>
      <p class="mb-5">Máximo 2 personas por reserva</p>
    </div>
  </div>
  <div class="opinion">
    <p class="fw-bold fs-1">Lo que nuestros viajeros opinan de Andrea</p>
  </div>
  <div style="margin-bottom: 8em;">
    <shared-opinion></shared-opinion>
  </div>







</div>
