.navbar-brand-img {
  width: 71px;
}

ul > li > a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.navbar-session-img {
  width: 48px;
}

a.navbar-brand {
  margin: 0px;
}

.login-container {
  display: flex;
  gap: 8px;
  text-decoration: none;
  font-weight: 500;
}

.login-container > svg {
  width: 24px;
}
