html, body {
  height: 100%;
  margin: 0;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 70vh;
  position: relative;
}

.container-login {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  position: relative;
  width: 70%;
}

.imagen {
  margin-bottom: 80px;
  margin-top: 80px;
}

.formulario {
  left: 450px;
  padding-right: 30px;
  position: absolute;
}

#form-content {
  display: contents;
}

.inputs {
  width: 85%;
}

.inputs input {
  border-color: #8b8b8b !important;
}


.input-large {
  font-size: 1rem;
}

.bg-color {
  background-color: #E6E6E6;
}

#username, #password {
  border: none;
}

::placeholder {
  font-size: small;
}

@media (max-width: 976px) {
  .imagen {
    display: none;
  }

  .container-login {
    width: 100%;

  }
}

#login-button {
  background-color: #F24E1E;
  border-radius: 8px;
  border: none;
  color: #FCFCFC;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding: 12px;
  text-align: center;
}



