<div class="container d-flex justify-content-center align-item-center">
  <div class="container-login my-5 bg-white w-custom d-flex position-relative">
    <div class="imagen custom-width">
      <img src="assets/img/login.svg" alt="login" class="hero-banner">
    </div>
    <div class="formulario my-5 d-flex flex-column align-items-center">
      <p class="fw-bold fs-2">¡Haz el login y a viajar!</p>
      <form (ngSubmit)="login()">
        <div class="inputs d-grid gap-3">
          <input type="text" id="username" [(ngModel)]="username" name="username" required placeholder="Username" class="bg-color rounded form-control input-large ">
          <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Username" placeholder="Contraseña" class="bg-color rounded form-control input-large">
          <button class="btn-medium mt-2 w-100 ">INICIAR SESIÓN</button>
        </div>
      </form>

    </div>
  </div>
</div>
