
<div id="cancelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cancelModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div>
        <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close">Volver</button>
      </div>
      <div>
        <button class="btn-medium mt-3 mb-4" (click)="cancelarReserva()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
