<!-- FAQS -->
<div id="faqs-title-container" class="container text-center">
  <h1 id="faqs-title-text">Preguntas frecuentes</h1>
</div>

<div id="accordionFaqs" class="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="false" aria-controls="collapseOne">
        ¿Los guías locales hablan varios idiomas?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFaqs">
      <div class="accordion-body">
        Sí, muchos de nuestros guías locales son políglotas y pueden ofrecer sus servicios en varios idiomas. Antes de
        realizar la reserva, puedes indicar tus preferencias lingüísticas y haremos todo lo posible por asignarte un
        guía que hable tu idioma.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        ¿Qué debo hacer si necesito cancelar o modificar mi reserva con un guía local?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFaqs">
      <div class="accordion-body">
        Si necesitas cancelar o modificar tu reserva con un guía local, simplemente accede a tu cuenta en nuestra
        plataforma y ve a la sección de "Mis Reservas". Desde allí, podrás encontrar la reserva que deseas ajustar y
        seguir las instrucciones para cancelar o modificar según sea necesario. Si necesitas asistencia adicional, no
        dudes en ponerte en contacto con nuestro equipo de soporte.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        ¿Los guías locales pueden proporcionar recomendaciones adicionales para mi viaje?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFaqs">
      <div class="accordion-body">
        ¡Por supuesto! Nuestros guías locales son expertos en sus áreas y estarán encantados de ofrecerte
        recomendaciones adicionales para enriquecer tu experiencia de viaje. Además de proporcionarte un recorrido
        personalizado, están disponibles para sugerirte lugares para comer, actividades fuera de lo común y consejos
        útiles para aprovechar al máximo tu estancia en la zona. No dudes en preguntarles durante tu recorrido o antes
        de tu llegada para obtener sugerencias personalizadas
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
        aria-expanded="false" aria-controls="collapseFour">
        ¿Cómo puedo asegurarme de que mi guía local conozca mis preferencias y necesidades específicas durante el
        recorrido?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFaqs">
      <div class="accordion-body">
        Puedes comunicar tus preferencias y necesidades especiales durante el proceso de reserva. Además, antes del
        recorrido, puedes ponerte en contacto directamente con tu guía a través de nuestro sistema de mensajería para
        discutir detalles adicionales y asegurarte de que tu experiencia sea completamente personalizada.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
        aria-expanded="false" aria-controls="collapseFive">
        ¿Qué debo hacer si mi guía local no se presenta en el lugar acordado en el momento programado?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFaqs">
      <div class="accordion-body">
        En caso de que haya algún problema con la puntualidad o la disponibilidad de tu guía local, comunícate de
        inmediato con nuestro equipo de soporte. Estamos aquí para ayudarte en situaciones como esta y nos esforzaremos
        al máximo para encontrar una solución rápida y satisfactoria, ya sea proporcionándote otro guía disponible o
        ayudándote con otras opciones alternativas.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
        aria-expanded="false" aria-controls="collapseSix">
        ¿Puedo dejar propina a mi guía local? ¿Cómo debería hacerlo?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFaqs">
      <div class="accordion-body">
        Sí, apreciamos mucho tu generosidad hacia nuestros guías locales. Si has disfrutado de tu experiencia y te
        sientes satisfecho con el servicio proporcionado, puedes dejar una propina como muestra de agradecimiento.
        Puedes hacerlo directamente en persona al final del recorrido o, si lo prefieres, a través de nuestra plataforma
        en línea después de completar tu experiencia. Tu guía local estará agradecido por tu gesto de gratitud.
      </div>
    </div>
  </div>
</div>

<div id="faqs-contact-container" class="container text-center">
  <button type="button" class="btn-like-title" data-bs-toggle="modal" data-bs-target="#faqsModal"
    (click)="openModal()">¿Todavía tienes dudas?</button>
</div>

<!-- Modal -->
<app-faqs-modal></app-faqs-modal>
