<!-- FAQS -->
<div id="faqs-title-container" class="container text-center">
  <h1 id="faqs-title-text">Preguntas frecuentes</h1>
</div>

  <div id="accordionFaqs" class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Accordion Item #1
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFaqs"
      >
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by
          default, until the collapse plugin adds the appropriate classes that we
          use to style each element. These classes control the overall appearance,
          as well as the showing and hiding via CSS transitions. You can modify
          any of this with custom CSS or overriding our default variables. It's
          also worth noting that just about any HTML can go within the
          <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Accordion Item #2
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFaqs"
      >
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden
          by default, until the collapse plugin adds the appropriate classes that
          we use to style each element. These classes control the overall
          appearance, as well as the showing and hiding via CSS transitions. You
          can modify any of this with custom CSS or overriding our default
          variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit
          overflow.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Accordion Item #3
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFaqs"
      >
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden
          by default, until the collapse plugin adds the appropriate classes that
          we use to style each element. These classes control the overall
          appearance, as well as the showing and hiding via CSS transitions. You
          can modify any of this with custom CSS or overriding our default
          variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit
          overflow.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Accordion Item #4
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFaqs"
      >
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden
          by default, until the collapse plugin adds the appropriate classes that
          we use to style each element. These classes control the overall
          appearance, as well as the showing and hiding via CSS transitions. You
          can modify any of this with custom CSS or overriding our default
          variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit
          overflow.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Accordion Item #5
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFaqs"
      >
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden
          by default, until the collapse plugin adds the appropriate classes that
          we use to style each element. These classes control the overall
          appearance, as well as the showing and hiding via CSS transitions. You
          can modify any of this with custom CSS or overriding our default
          variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit
          overflow.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          Accordion Item #6
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFaqs"
      >
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden
          by default, until the collapse plugin adds the appropriate classes that
          we use to style each element. These classes control the overall
          appearance, as well as the showing and hiding via CSS transitions. You
          can modify any of this with custom CSS or overriding our default
          variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit
          overflow.
        </div>
      </div>
    </div>
  </div>

  <div id="faqs-contact-container" class="container text-center">
    <button type="button"
            class="btn-like-title"
            data-bs-toggle="modal"
            data-bs-target="#faqsModal"
            (click)="openModal()"
            >¿Todavía tienes dudas?</button>
  </div>

<!-- Modal -->

<app-faqs-modal></app-faqs-modal>

<!-- <div id="faqsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="faqsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">¡No dudes en preguntar!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div id="body-container" class="modal-body">
        <div id="name-container" class="mb-3">
          <input type="text" id="name" class="form-control" placeholder="Nombre">
        </div>

        <div id="address-container" class="mb-3">
          <input type="text" id="address" class="form-control" placeholder="E-Mail">
        </div>

        <div id="message-container" class="mb-3">
          <textarea id="message" class="form-control" placeholder="¿Qué dudas tienes?" rows="3"></textarea>
        </div>

        <div id="terms-container" class="form-check mb-3">
          <input type="checkbox" id="acceptTerms" class="form-check-input">
          <label for="acceptTerms" class="form-check-label">Acepto los <a id="terms-link" href="#">términos y condiciones</a></label>
        </div>

        <button type="button" id="contact-button" class="btn btn-primary">Contáctanos</button>
      </div>
    </div>
  </div>
</div> -->
