<div *ngFor="let reserva of reservas" class="card custom-shadow w-custom">
  <div class="d-flex flex-column align-items-center">
    <div class="mt-4 mb-3 rounded-box">
      <img src="assets/img/perfil.jpg" class="rounded-image border border-custom" alt="">
      <div class="round-mask"></div>
    </div>
    <div class="ms-4">
      <p class="mt-3 mr-4 fw-bold fs-5 d-flex align-items-center">
        <img class="text-center" src="assets/img/star.svg">
        {{ averageReview | number:'1.1-1' }} ({{ reviews.length }} Opiniones)
      </p>
      <p>{{ciudad.nombreCiudad}}, {{ciudad.pais.nombrePais}}</p>
      <p class="mt-3">Idiomas: {{ guia.idioma }}</p>
      <p class="mt-3">Precio: {{itinerario.precio}}€ día</p>
      <p class="mt-3">{{itinerario.fechaDisponible}}</p>
    </div>
    <!-- <button class="btn-medium mt-3 mb-4" (click)="cancelarReserva(reserva.idReserva)">Cancelar</button> -->
    <!-- <button class="btn-medium mt-3 mb-4">Cancelar</button> -->
    <button type="button" class="btn-like-title" data-bs-toggle="modal" data-bs-target="#cancelModal" (click)="openModal(reserva.idReserva)">
      Cancelar
    </button>
  </div>
</div>
