html, body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container-login {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  width: 70%;
  margin: 5rem auto;
}

.imagen {
  margin-top: 80px;
  margin-bottom: 80px;
}

.formulario {
  padding-right: 30px;
  position: absolute;
  left: 450px;
}

.inputs {
  width: 85%;
}

.inputs input {
  border-color: #8b8b8b !important;
}

.label-terminos {
  font-size: small;
}

.terminos {
  color: #F24E1E;
}

.input-large {
  font-size: 1rem;
}

.bg-color {
  background-color: #E6E6E6;
}

.btn-medium {
  font-size: small;
  box-shadow: 4px 4px 4px rgba(1, 1, 1, 0.4);
}

::placeholder {
  color: #AFABAB;
  font-size: x-small;
}

@media (max-width: 976px) {
  .imagen {
    display: none;
  }

  .container-login {
    width: 100%;
    background-color: blue;
  }
}




