.card {
  width: 18rem;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
}
.card-container {
  gap: 56px;
}
.card-body {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.card-review {
  display: flex;
  gap: 3px;
  align-items: baseline;
}
@media (max-width: 576px) {
  .card {
    width: auto;
  }

  .btn-medium {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .card-container {
    flex-wrap: wrap;
  }
}
