.card {
  width: 18rem;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
}

.card-body {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.chevron-left {
  rotate: 180deg;
}

.chevron {
  padding: 8px;
}

@media (max-width: 576px) {
  .card {
    width: auto;
  }
}
