.left-100 {
  left: 450px;
}

.formulario {
  right: 100px;
  width: 100%;
}

.imagen {
  margin-top: 80px;
  margin-bottom: 80px;
  right: 32px;
  width: 100%;
}

.titulo {
  width: 100%;
}

.inputs {
  width: 100%;
}

.inputs input {
  border-color: #8b8b8b !important;
}

.label-terminos {
  font-size: small;
}

.terminos {
  color: #f24e1e;
  cursor: pointer;
}

.input-large {
  font-size: 1rem;
}

.bg-color {
  background-color: #e6e6e6;
}

.btn-medium {
  font-size: small;
}

::placeholder {
  color: #afabab;
  font-size: small;
}
.alert {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  width: auto;
  text-align: center;
}

@media (max-width: 575px) {
  .imagen {
    display: none;
  }

  .container-login {
    width: 100%;
  }

  .formulario {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 970px) {
  .imagen {
    display: none;
    width: 100% !important;
  }
  .container-login {
    width: 100%;
  }

  .formulario {
    margin: 0 auto !important;
    right: 0;
  }
}
