<div class="card">
    <img src="assets/img/placeholder-img.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h4>5 rutas en coche por Euskadi</h4>
        <p class="card-text">Descubre Euskadi en coche, en este artículo te contamos cómo sacarle el máximo partido a tu
            experiencia sobre ruedas a este paraíso de la naturaleza.</p>

        <div class="read-more">
            <a href="#" class="link-read-more">Leer más</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                    d="M16.172 13L4 13V11H16.172L10.808 5.63605L12.222 4.22205L20 12L12.222 19.778L10.808 18.364L16.172 13Z"
                    fill="#F24E1E" />
            </svg>
        </div>
    </div>
</div>