.border-custom {
  border: 3px solid #f24e1e !important;
}

.custom-shadow {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.mr-4 {
  margin-right: 100% !important;
}

.rounded-box {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.rounded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.round-mask {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}

.name-opinion-container {
  display: flex;
  align-items: baseline;
}

.opinion-container {
  display: flex;
  align-items: center;

}

.card {
  padding: 8px;
}

.ml-50{
  margin-left: 80px;

}
