<section class="container">
  <div class="row">
    <div>
      <div class="card mb-3 custom-shadow">
        <div class="row g-0 p-4">
          <div class="col-md-4 d-flex flex-column align-items-center">
            <div class="mt-4 mb-3 rounded-box">
              <img src="assets/img/img-placeh.png" class="rounded-image border border-custom" alt="">
              <div class="round-mask"></div>
            </div>
            <div class="align-self-start" class="name-opinion-container me-auto">
              <span class="mt-3 mr-4"><strong>{{reviews.nombreCliente}}</strong></span>
              <div class="opinion-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                  <path
                    d="M3.30977 14.9435C2.95593 15.1415 2.55443 14.7945 2.62593 14.3515L3.38677 9.6215L0.157349 6.2655C-0.144234 5.9515 0.0125156 5.3775 0.416766 5.3155L4.9066 4.6195L6.9086 0.2925C7.08918 -0.0975 7.57777 -0.0975 7.75835 0.2925L9.76035 4.6195L14.2502 5.3155C14.6544 5.3775 14.8112 5.9515 14.5087 6.2655L11.2802 9.6215L12.041 14.3515C12.1125 14.7945 11.711 15.1415 11.3572 14.9435L7.3321 12.6875L3.30977 14.9435Z"
                    fill="#F24E1E" />
                </svg>
                <span><strong>{{reviews.puntuacion}}</strong></span>

              </div>

            </div>
            <div class="align-self-start mt-3 me-auto">
                <span class="mt-3"><strong>{{ reviews.nombreCiudad}}</strong></span>
            </div>
          </div>
          <div class="col-md-8 mt-4 ">
            <div class="w-75">
              <p class="mb-0 ml-50 w-100">{{reviews.contenido}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
